:root, :host {
    --w-e-textarea-bg-color: #fff;
    --w-e-textarea-color: #333;
    --w-e-textarea-border-color: #ccc;
    --w-e-textarea-slight-border-color: #e8e8e8;
    --w-e-textarea-slight-color: #d4d4d4;
    --w-e-textarea-slight-bg-color: #f5f2f0;
    --w-e-textarea-selected-border-color: #B4D5FF;
    --w-e-textarea-handler-bg-color: #4290f7;
  
    --w-e-toolbar-color: #595959;
    --w-e-toolbar-bg-color: #fff;
    --w-e-toolbar-active-color: #222;
    --w-e-toolbar-active-bg-color: #f1f1f1;
    --w-e-toolbar-disabled-color: #999;
    --w-e-toolbar-border-color: #e8e8e8;
  
    --w-e-modal-button-bg-color: #fafafa;
    --w-e-modal-button-border-color: #d9d9d9;
}
.editor-wrap {
    ul,ol {
        list-style: initial;
        li {
            padding: 5.5px 0 5.5px 3px;
            line-height: 1.6em;
        }
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
    strong {
        font-weight: 700;
    }
    em {
        font-style: italic;
    }
    u {
        text-decoration: underline;
    }
    sub {
        vertical-align: sub;
        font-size: smaller;
    }
    sup {
        vertical-align: super;
        font-size: smaller;
    }
    blockquote, q {
        quotes: none;
    }
    pre {
        display: block;
        font-family: monospace;
        white-space: pre;
        margin: 1em 0px;
    }
    h1,h2,h3,h4,h5,h6 {
        font-weight: 700;
        padding: 0.6em 0 3px;
    }
    p {
        padding: 0.4em;
        line-height: 1.5;
    }
}

.ql-snow {
    .ql-stroke {
        stroke: #515151;
    }
}